<!-- Demo 1 - Topic- NgIf and ng-temp-late -->
<h1>DEMO1</h1>
<input type="text" [(ngModel)]="age">

<!-- ng if directive -->
<p *ngIf="age >= 18 && age <= 50 ; else myelsBlock"  [style.background-color]="epclr">  you are eligible for the job </p> 

 <!-- else implementation using ng-template -->
<ng-template #myelsBlock>
<p  [style.background-color]="nepclr">  you are not eligible for the job </p> 
</ng-template>

<!-- Demo 2 - Topic - Ng For for iterating array in dropdown -->
<h1>DEMO2</h1>
<!-- making droipdown using ng-for usage -->
 <!-- select tag is used for dropdown -->
<select>  
  <option *ngFor="let state of states"> {{state}} </option> 
  </select>
  
  <!-- unordered list of states -->
  <ul> 
  <li *ngFor="let state of states"> {{state}} </li>
  </ul>
  
  
  <!-- ordered list of state -->
  <ol> 
      <li *ngFor="let state of states"> {{state}} </li>
      </ol>
  

<br><br><br><br>
<h1>DEMO3</h1>
      <!-- Demo - 3  -->
      <select (change)="changeVal()" [(ngModel)]="selectedState"> 

        <option *ngFor="let state of states"> {{state}} </option> 
        
        </select>
        {{stateCode}}


        <br><br><br><br>
        <h1>DEMO4</h1>
        <!-- Demo - 4  --> 


        
        
         
        
        
        
           
        
       
        
       
        
        
        
        