<table class="table table-dark" width="80%" border="2px">


    <tr> 
  <td> Id </td>
  <td> ISBN </td>
  <td> Title </td>
  <td> Author </td>
  <td> Publication </td>
  <td>  Rating </td>
  <td> Action </td>
    </tr>
  
  
  
    <tr *ngFor="let book of books"> 
      <td> {{book.id}} </td>
      <td> {{book.isbn}} </td>
      <td> {{book.title}} </td>
      <td> {{book.author}} </td>
      <td> {{book.publication}} </td>
      <td> {{book.rating}} </td>
      <td> <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)"> Delete </button> </td>
     
        </tr>
  
  </table>  
  <div class="col text-center">
  <button type="button" class="btn btn-success" routerLink="/add"> Add Books </button>
</div>