<ul> 

    <li > <a routerLink="/home">  home </a> </li>
    <li > <a routerLink="/about">  about </a> </li>
    <li > <a routerLink="/contact">  contact us </a> </li>
    <li > <a routerLink="/services"> our services </a> </li>
   
  </ul>
  

<p>services works!</p>




<ul> 

    <li > <a routerLink="carrent">  Car Rent </a> </li>
    <li > <a routerLink="carwash">  Car Wash </a> </li>
    <li > <a routerLink="dnr">  Denting and Repair </a> </li>
   
  </ul>
  

  <router-outlet> </router-outlet>
