<!-- Demo-1 -->
<h1>Demo-1 Inbuilt Pipes</h1>
{{name}}

<br>

{{name|uppercase}}

<br>
{{name}}

<br>

{{money}}


<br>

{{money|currency}}

<br>
{{moneyDollar}}

<br>
<p> add 15$ to existing vars</p>

<br>

{{money+15|currency}}

<br>
{{moneyDollar+15}}


<br>

{{money|currency:'INR'}}



<br>

{{money|currency:'EUR'}}

<br>

{{money|currency:'GBP'}}

<br>
{{now}}


<br>
{{now|date:'shortDate'}}


<br>
{{now|date:'dd/MM/yyyy'}}




<br>
{{now|date:'dd/mm/yyyy'}}


<br>
{{now|date:'hh:mm'}}



<h1>Demo-2 Custom Pipe</h1>
{{'hello'|uppercase}}
<br>
<br><br>
{{'hello'|testpipe:'U'}}

{{'new val'|testpipe:'L'}}


<h1>Demo-4</h1>
<p>  add student  </p>
<label> roll no</label>
<input type="text" [(ngModel)]="student.rollNo" >


<label> gender </label>
<input type="text" [(ngModel)]="student.gender" >

<label> sem</label>
<input type="text" [(ngModel)]="student.sem" >

<label> name</label>
<input type="text" [(ngModel)]="student.name" >

<label> marks</label>
<input type="text" [(ngModel)]="student.marks" >


<button (click)="addStudent(student)"> add </button>


<p>  result   </p>

<table>

    <tr>
        <td> Roll no </td>
        <td> Gender </td>
        <td> Name </td>
        <td> Marks </td>
        <td> Sem </td>

    </tr>


    <tr *ngFor="let student of students">
        <td> {{student.rollNo}} </td>
        <td> {{student.gender}} </td>
        <td> {{marriage()?  (student.name| gender:student.gender) :(student.name| maritalStatus:student.maritalStatus)}} </td>
        <td> {{student.marks}} </td>
        <td> {{student.sem}} </td>
        <td>{{student.maritalStatus}}</td>


    </tr>


</table>
