<!-- Demo-1 -->
<h1>Demo-1 Inbuilt Pipes</h1>
{{name}}

<br>

{{name|uppercase}}

<br>
{{name}}

<br> 

{{money}}


<br> 

{{money|currency}}

<br>
{{moneyDollar}}

<br>
<p> add 15$ to existing vars</p>

<br> 

{{money+15|currency}}

<br>
{{moneyDollar+15}}


<br>

{{money|currency:'INR'}}



<br>

{{money|currency:'EUR'}}

<br>

{{money|currency:'GBP'}}

<br>
{{now}}


<br>
{{now|date:'shortDate'}}


<br>
{{now|date:'dd/MM/yyyy'}}




<br>
{{now|date:'dd/mm/yyyy'}}


<br>
{{now|date:'hh:mm'}}



<h1>Demo-2 Custom Pipe</h1>
{{'hello'|uppercase}}
<br>
<br><br>
{{'hello'|testpipe}}

{{'new val'|testpipe}}

