<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NewsApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="sports">Sports <span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="tech">Tech-news <span class="sr-only" >(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="business">Business <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="health">Health <span class="sr-only">(current)</span></a>
          </li>
        </ul>
          <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="search">Search News <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="search">View Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="search">Contact us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="search">About us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="search">Logout <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      
    </div>
  </nav>
