<app-header></app-header>
<!-- <ul>
<li>
  <a href="addcar"> add car </a>
</li>
<li>
<a href="viewcar"> view cars </a>
</li>
</ul> -->

<!-- <p> below is router link </p> -->

<!-- <ul>
  <li>
    <a routerLink="addcar"> add car RL </a>
  </li>
  <li>
  <a routerLink="viewcar"> view cars RL</a>
  </li>
  </ul> -->

  <!-- <div class="text-center"> -->
  <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="addcar">Add Car</button>
  <button type="button" class="btn btn-primary btn-lg" routerLink="viewcar">ViewCar</button> -->
  
<!-- </div> -->
<router-outlet> </router-outlet>
