.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  /* .example-card {
    max-width: 400px;
    align-content: center;
    justify-content: center;
    padding-left: 5%;
    margin-left: 550px;
    margin-top: 150px;
    display:inline-block;
  } */
  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .mat-card-title{
    color: dodgerblue;
    text-align: center;
  }

  .mat-card-subtitle{
    color: dodgerblue;
    
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .login-block{
    margin : auto;
    width : 50%;
    padding : 10px;
    padding-top : 50px;
    display : flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
  }
  
.example-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-button-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-form-field{
  width: 75%;
}

.hover-class:hover {
  background-color: rgb(244, 4, 212);
}


.modal {
  background-size: cover;
    height: 100vh;
    width: 98.9vw;
    z-index: 1050;
     opacity:.8;
     flex-wrap: wrap;
     flex-direction:row;
     overflow-x:auto;
     background-color:transparent;
     background-image: url('https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bm90ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
   }
  
   .example-card{
    opacity: 0.8;
   }

   .label-class{
   
    font-size: medium;
    color:rgb(0, 1, 1);
  }

  .hover-class{
    float: right;
    margin-top: 20px;
 }
 button.mat-raised-button:hover {
     background-color: rgb(111, 0, 255);    
 }

 .alreadyregister{
    margin-top: 10px;
 }