<div class="login-block">
    <mat-card class="example-card">
      <mat-card-title>Register</mat-card-title>
      <br>
      <div class="example-container">
      
        <mat-form-field appearance="fill">
          
          <mat-label class="label-class">FirstName</mat-label>
          <input matInput placeholder="John" [formControl]="fname" required>
          <mat-error *ngIf="fname.invalid">{{getErrorMessagefname()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="example-container">
      
        <mat-form-field appearance="fill">
          
          <mat-label class="label-class">LastName</mat-label>
          <input matInput placeholder="Taylor" [formControl]="lname" required>
          <mat-error *ngIf="lname.invalid">{{getErrorMessagelname()}}</mat-error>
        </mat-form-field>
      </div>
    
    <div class="example-container">
      
      <mat-form-field appearance="fill">
        
        <mat-label class="label-class">Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageemail()}}</mat-error>
      </mat-form-field>
    </div>
    
    <div class="example-container">
     
      <mat-form-field appearance="fill">
        <mat-label class="label-class">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      </div>
      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <button mat-raised-button color="primary" class="hover-class" (click)="buttonClickLogin()">Register</button>
          <button mat-raised-button color="primary" class="hover-class" routerLink="/login">LogIn</button>
          <div class="alreadyregister">Already Registered? Login Now</div>
        </div>
      </section>
    </mat-card>
    </div>
